{% load staticfiles %}

<!DOCTYPE html>
<html class="windows no-js" lang="{{ LANG }}" dir="{{ DIR }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block extra_meta %}{% endblock %}

        <title>{% block page_title_prefix %}Mozilla — {% endblock %}{% block page_title %}{% endblock %}{% block page_title_suffix %} — mozilla.org{% endblock %}</title>

        {% block favicon %}<link rel="shortcut icon" href="{% static "sandstone/img/favicon.ico" %}" />{% endblock %}

        <!--[if lte IE 8]>
        <script src="{% static "sandstone/js/libs/html5shiv.js" %}"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" href="{% static "sandstone/css/lib/sandstone-resp.css" %}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{% static "sandstone/css/lib/tabzilla.css" %}" media="screen" />
        {% block site_css %}{% endblock %}

        {% block extrahead %}{% endblock %}
    </head>
    <!-- The four different themes of sandstone are, stone, sand, sky, space. Replace the class on the
         body tag below, with the theme you wish to use for your project -->
    <body id="sandstone" class="stone">
        <div id="outer-wrapper">
            <div id="wrapper">
                {% block site_header %}
                <header id="masthead">
                    <div id="tabzilla">
                        <a href="https://www.mozilla.org/">Mozilla</a>
                    </div>
                    <nav id="nav-main" role="menubar">
                        <span class="toggle" role="button" aria-controls="nav-main-menu" tabindex="0">{{ _('Menu') }}</span>
                        <ul role="menu" id="nav-main-menu">
                            <li role="menuitem" class="first"><a href="https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&source=mozillaorg_topNAV&ref=EOYFR2014&utm_campaign=EOYFR2014&utm_source=mozilla.org&utm_medium=referral&utm_content=mozillaorg_topNAV">{{_('Donate')}}</a></li>
                            <li role="menuitem"><a href="https://www.mozilla.org/mission/">{{_('Mission')}}</a></li>
                            <li role="menuitem"><a href="https://www.mozilla.org/firefox/products/">{{_('Firefox')}}</a></li>
                            <li role="menuitem" class="last"><a href="https://www.mozilla.org/contribute/">{{_('Community')}}</a></li>
                        </ul>
                    </nav>

                    {% block site_header_logo %}
                    <h2><a href="http://mozilla.org/"><img src="{% static "sandstone/img/sandstone/header-mozilla-stone.png" %}" alt="mozilla"></a></h2>
                    {% endblock %}

                    {% block alt_header %}{% endblock %}

                    {% block breadcrumbs %}{% endblock %}

                </header>
                {% endblock %}

                {% block content %}{% endblock %}

            </div>

            {% block site_footer %}
            <footer id="colophon" class="{% block footer_class %}{% endblock %}">
              <nav class="row">
                <div class="col col-1">
                  <h1 class="logo"><a href="https://www.mozilla.org/">Mozilla</a></h1>
                  <p class="license">
                    {%- trans url=url('https://www.mozilla.org/foundation/licensing/website-content/') -%}
                    Portions of this content are ©1998–{{ current_year }} by individual
                    mozilla.org contributors. Content available under
                    a <a href="{{ url }}">Creative Commons license</a>.
                    {%- endtrans -%}
                  </p>
                </div>
                <div class="col col-2">
                  <ul class="links-join">
                    <li><a href="https://mozilla.org/about/contact.html#map-mountain_view">{{ _('Contact Us') }}</a></li>
                    <li class="wrap"><a href="https://www.mozilla.org/about/partnerships/">{{ _('Partner with Us' ) }}</a></li>
                    <li class="clear"><a href="https://sendto.mozilla.org/page/contribute/givenow-seq?preset=2&source=mozillaorg_footer&ref=EOYFR2014&utm_campaign=EOYFR2014&utm_source=mozilla.org&utm_medium=referral&utm_content=mozillaorg_footer" class="donate">{{ _('Donate') }}</a></li>
                    <li class="wrap"><a href="https://www.mozilla.org/contribute/friends/">{{ _('Firefox Friends') }}</a></li>
                    <li class="clear"><a href="https://wiki.mozilla.org/Webdev/GetInvolved/mozilla.org">{{ _('Contribute to this site') }}</a></li>
                  </ul>
                  <ul class="links-legal">
                    <li><a href="https://www.mozilla.org/privacy/">{{ _('Privacy') }}</a></li>
                    <li class="wrap"><a href="https://www.mozilla.org/privacy/websites/#cookies">{{ _('Cookies') }}</a></li>
                    <li class="wrap"><a href="https://www.mozilla.org/about/legal/">{{ _('Legal') }}</a></li>
                    <li class="clear"><a href="https://www.mozilla.org/about/legal/fraud-report/">{{ _('Report Trademark Abuse') }}</a></li>
                  </ul>
                </div>
                <div class="col col-3">
                  <ul class="links-social">
                    <li>
                      {{ _('Mozilla:') }}
                      <ul>
                        <li><a href="https://twitter.com/mozilla">{{ _('Twitter') }}<span> (@mozilla)</span></a></li>
                        <li><a href="https://www.facebook.com/mozilla">{{ _('Facebook') }}<span> (Mozilla)</span></a></li>
                      </ul>
                    </li>
                    <li>
                      {{ _('Firefox:') }}
                      <ul>
                        <li><a href="https://twitter.com/firefox">{{ _('Twitter') }}<span> (@firefox)</span></a></li>
                        <li><a href="https://www.facebook.com/Firefox">{{ _('Facebook') }}<span> (Firefox)</span></a></li>
                        <li><a href="https://www.youtube.com/firefoxchannel">{{ _('YouTube') }}<span> (firefoxchannel)</span></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </nav>
            </footer>
            {% endblock %}
        </div>
        {% block js %}
            <script src="{% static "sandstone/js/site.js" %}"></script>
        {% endblock %}
    </body>
</html>
